<form method="post" action="{{ path('app_grpadmin_delete', {'id': groups.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ groups.id) }}">
    <button class="bx bxs-trash"></button>
</form>
