*{
    margin: 0;
    padding: 0;
    font-family: 'Gasoek One', sans-serif;
}
#yellowBackground{
    height: 100%;
    width: 35%;
    background: #FFE801;
    position: absolute;
    left: 0;
    z-index: -1;
}
body{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
    width: 100vw;
}
/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - */
/* navbar */
header{
    height: 130px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
header div{
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* navbar burger */
header #burger{
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #burger img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
/* navbar logo image */
header #logo{
    height: 100%;
    width: 130px;
}
#logo a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #logo a img{
    height: 100%;
    width: 100%;
}
/* navbar navlink */
header nav{
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoNavBox{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 3px;
    background: #12231A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoNav{
    width: 80%;
    height: auto;
    cursor: pointer;
}
/* nav responsive */
#navResponsive{
    position: fixed;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 30;
    display: none;
}
#navResponsive nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
a{
    text-decoration: none;
}
#navResponsive nav ul li{
    list-style-type: square;
    margin: 30px 40px;
    font-size: 3rem;
    font-weight: 900;
    color: #000;
    text-shadow: 1px 1px 1px #12231A;
    text-transform: uppercase;
    cursor: pointer;
}
#notificationBox{
    position: fixed;
    width: 400px;
    background: #fff;
    border-radius: 2px;
    margin-top: 100px;
    margin-right: 10%;
    right: 0;
    padding: 20px;
    flex-direction: column;
    z-index: 80;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: scroll;
    height: 600px;
    display: none;
}
#notificationBox article{
    height: 230px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    /* margin: 30px 0px; */
}
#notificationBox h1{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    font-weight: 900;
    padding-right: -20px;
    font-size: 1.5em;
}
#notificationBox h1 span{
    font-size: 1.5em;
    color: red;
    margin: 0px 10px;
}
#notificationBox h2{
    margin: 10px 0px;
    color: #46D4B3;
    font-weight: 900;
}
#notificationBox p{
    font-size: 0.9em;
}
#notificationBox .dataBox{
    height: 80px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #46D4B3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first{
    height: 65%;
    width: 30%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}
.first h4{
    font-size: 1em;
    margin-left: 10px;
}
.first span{
    font-size: 0.8em;
    margin-left: 10px;
    font-weight: 300;
}
.second{
    height: 65%;
    width: 22%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.second span{
    font-size: 0.75em;
    font-weight: 300;
    margin-top: 3px;
}
.third{
    height: 65%;
    width: 45%;
    background: #fff;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: scroll;
}
.third img{
    height: 50px;
    width: 50px;
}
#notificationBox .btnBox{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}
.btnNotif{
    padding: 4px 20px;
    margin: 0px 5px;
    border: 1px solid #12231A;
    text-transform: uppercase;
    background: none;
    color: #12231A;
    cursor: pointer;
    z-index: 40;
}
.btnNotif:nth-of-type(2){
    padding: 4px 20px;
    margin: 0px 5px;
    background: #12231A;
    border: 1px solid #12231A;
    text-transform: uppercase;
    background: #12231A;
    color: #fff;
    cursor: pointer;
    z-index: 40;
}
#flower{
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: 20px;
    height: 500px;
    width: auto;
}
#flower img{
    height: 100%;
    width: 100%;
}
/* HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - HEADER - */
main{
    height: auto;
    width: 80%;
    margin-top: 130px;
}
#mainHeader{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mainHeader h1{
    text-transform: uppercase;
    color: #12231A;
    font-weight: bold;
    -webkit-text-stroke-color: #12231A;
    -webkit-text-stroke-width: 4px;
    letter-spacing: 2px;
    font-size: 3rem;
}
#mainHeader figure{
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainHeader figure a{
    color: #12231A;
    text-decoration: underline;
    margin-left: 10px;
}
#userContent{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*card user*/
#userCard{
    height: 520px;
    width: 290px;
    margin-top: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    scale: 1;
}
i{
    margin-left: 20px;
    color: #355845;
}
#userCard:nth-child(2n){
    height: 520px;
    width: 290px;
    background: #fff;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#userCard figure{
    height: 100%;
    width: 100%;
}
#userCard figure img{
    height: 100%;
    width: 100%;
}
.info{
    height: 90%;
    width: 85%;
    background: #fff;
    margin-top: 10%;
}
.firstData strong{
    font-size: 1.2em;
}
.firstData{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstData figure{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#flag{
    height: 30px !important;
    width: auto !important;
}
.firstData figure img{
    height: 100%;
    width: 40%;
}
.firstData figure{
    height: 100%;
    width: 40%;
}
.secondData{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
.secondData span{
    padding: 5px 15px;
    background: #46D4B3;
    margin-right: 10px;
}
.thirdData{
    width: 100%;
    height: 40%;
}
.thirdData p{
    margin-top: 5px;
    font-weight: 300;
    font-size: 0.9em;
    word-wrap: break-word;
}
.quarterData{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info .quarterData button{
    width: 90%;
    padding: 8px 0px;
    border: 1px solid #000;
    text-transform: uppercase;
    font-weight: 600;
    background: #fff;
    
}
#mainHeader figure img{
    height: 30px;
    width:  30px;
}
#userData{
    height: 400px;
    width: 60%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    margin-top: 10px;
}
#userData a{
    height: 30px;
    width: 70%;
    font-size: 2.5rem;
    border-right: 1.5px solid #12231A;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 50px;
    color: #12231A;
    -webkit-text-stroke-color: #12231A;
    -webkit-text-stroke-width: 1px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#userData a:nth-child(5){
    height: 30px;
    width: 70%;
    font-size: 2.5rem;
    border: 1.5px solid #12231A;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 50px;
    color: #fff;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #355845;
}
/* footer data */
#footerData{
    width: 100%;
    height: 100px;
    background: #FBFAF4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}
#footerData span{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #12231A;
    font-size: 1.3rem;
    color: #12231A;
}
#footerData #btn{
    border: 1.5px solid #12231A;
    padding: 5px 13px;
    font-size: 1rem;
    text-transform: uppercase;
}
/* FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - FOOTER - */
footer{
    height: 200px;
    width: 100%;
    background-color: #12231A;
    z-index: 20;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footerContent{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* firstContent */
#footerContent #firstContent{
    height: 70%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#firstContent figure{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#firstContent div{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
#firstContent div span{
    text-decoration: underline;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.7em;
    text-align: left;
    margin: 4px;
}
/* midlecontent */
#footerContent #midleContent{
    height: 70%;
    width: 500px;
}
#midleContent h3{
    margin-top: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5em;
}
#midleContent span{
    margin-top: 5px;
    color: #fff;
    font-weight: 300;
    font-size: 0.8em;
}
#midleContent div{
    height: 30%;
    margin-top: 30px;
}
#midleContent div input{
    padding: 7px 0px;
    padding-right: 140px;
    background: #12231A;
    border: 0px solid;
    border-bottom: 1px solid #fff;
    margin-right: 10px;
    width: 20%;
    text-align: start;
}
#midleContent div input::placeholder{
    color: #fff;
    opacity: 0.5;
}
#midleContent div button{
    padding: 7px 15px;
    background: #12231A;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
}
/* thirdContent */
#footerContent #thirdContent{
    height: 70%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 300;
}
#footerContent #thirdContent span{
    text-transform: lowercase;
    font-size: 0.8em;
}
@media screen and ( max-width : 1100px ) {
    /* footer */
    #footerContent{
        width: 90%;
    }
    #userData a {
        width: 100%;
    }
}
@media screen and ( max-width : 1050px ) {
}
@media screen and ( max-width : 1000px ) {
    #reservationBox{
        width: 90%;
    }
    #footerData {
        width: auto;
        height: 300px;
        background: #FBFAF4;
        display: flex;
        align-items: center;
        padding: 30px;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
@media screen and ( max-width : 970px ) {
    #userData {
        height: 500px;
    }
    #userData a {
        font-size: 2rem;
    }
    #userData a:nth-child(5){
        font-size: 2rem;
    }
    #userData {
        width: 100%;
    }
    /* footer */
    #footerContent{
        width: 100%;
    }
    article {
        height: auto;
        width: 90%;
        padding: 50px 0px;
        margin-top: 176px;
        margin-bottom: 100px;
    }
    #first_second {
        height: 85%;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    #firstData{
        width: 60%;
    }
    #thirdData span {
        width: 90%;
    }
    #thirdData div {
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    #thirdData {
        justify-content: center;
        align-items: center;
        height: auto;
    }
    #firstData .inputBox {
        margin-top: 30px;
    }
    #firstData .inputBox2 {
        margin-top: 30px;
    }
    #firstData .inputBox3 {
        margin-top: 30px;
    }
    .inputBox4 {
        margin-top: 30px;
    }
    .inputBox{
        margin-top: 30px;
    }
    #secondData {
        height: 100%;
        width: 60%;
        padding-left: 0%;
    }
    .inputBox {
        width: 100%;
    }
    #container {
        height: auto;
    }
    #thirdData label {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media screen and ( max-width : 850px ) {
    header div nav{
        visibility: hidden;
    }
    /* footer */
    #footerContent{
        justify-content: space-between;
    }
    /* midlecontent */
    #footerContent #midleContent{
        width: 300px;
    }
    #boxAvatar div{
        height: auto;
        width: 80%;
        flex-direction: column;
    }
    #boxAvatar div figure{
        height: 70%;
        width: 40%;
        margin: 20px;
        background: #fff;
    }
    #boxAvatar div figure img{
        height: 100%;
        width: 100%;
        border: 2px solid #FF6C27;
    }
    #boxAvatar button{
        height: 40px;
        width: 80%;
        font-size: 1.5rem;
        text-transform: uppercase;
        background: #FF6C27;
        border: 2px solid #fff;
        color: #fff;
    }
}
@media screen and ( max-width : 650px ) {
    /* navbar logo image */
    header #logo{
        margin-left: 60px;
    }
    #footerContent{
        flex-direction: column;
    }
    #footerContent #midleContent{
        display: none;
    }
    #thirdData label {
        width: 100%;
        margin-right: 0px;
    }
    #thirdData div {
        width: 80%;
        height: auto;
        margin-top: 10px;
        justify-content: center;
    }
    #imageBox {
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 20px 0px;
    }
    #imageProfil {
        margin: 20px 0px;
    }
    #thirdData span {
        display: none;
    }
    #thirdData button {
        padding: 5px 0px;
        width: 80%;
    }
    #firstData .inputBox3 {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    #firstData .inputBox3 input {
        width: 100%;
        padding-left: 0px;
    }
    .inputBox4 label:nth-child(1){
        display: none;
    }
    .inputBox4 section {
        justify-content: space-between;
    }
}
@media screen and ( max-width : 550px ) {
    article {
        margin-bottom: 0px;
    }
    #userCard{
        scale: 0.9;
    }
    #mainHeader h1 {
        font-size: 2rem;
    }
    #navResponsive{
        height: 120%;
    }
    #burgerBox {
        margin-left: 24px;
    }
    #navResponsive nav ul li {
        margin: 26px 14px;
        font-size: 1.5rem;
    }
    #navResponsive nav {
        margin-left: 27px;
    }
    #notificationBox{
        position: fixed;
        width: 90%;
        background: #fff;
        border-radius: 2px;
        margin-top: 100px;
        margin-right: 0%;
        right: 0;
        padding: 20px;
        flex-direction: column;
        z-index: 80;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        overflow: scroll;
        height: 80%;
        display: none;
    }
    #userData a {
        font-size: 1.5rem;
    }
    #userData a:nth-child(5){
        font-size: 1.5rem;
    }
}
@media screen and ( max-width : 460px ) {
    #userCard{
        scale: 0.8;
    }
    #firstData{
        width: 80%;
    }
    #secondData {
        width: 80%;
    }
    #inputFileBox {
        width: 100%;
    }
    .inputBox4 section label {
        margin-left: 0px;
    }
    #boxAvatar button{
        font-size: 1.2rem;
    }
}
@media screen and ( max-width : 440px ) {
    #notificationBox h2{
        margin: 10px 0px;
        color: #46D4B3;
        font-weight: 900;
        font-size: 1.2em;
    }
    .second h4{
        font-size: 0.9em;
    }
    .first h4{
        font-size: 0.9em;
        margin-left: 10px;
    }
    .third{
        height: 65%;
        width: 100px;
        background: #fff;
        margin-right: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: scroll;
    }
}
@media screen and ( max-width : 400px ) {
    #userData a {
        font-size: 1.2rem;
    }
    #userData a:nth-child(5){
        font-size: 1.2rem;
    }
    #footerData #btn {
        font-size: 0.9rem;
    }
}
@media screen and ( max-width : 330px ) {
    #notificationBox h2{
        margin: 10px 0px;
        color: #46D4B3;
        font-weight: 900;
        font-size: 1em;
    }
    main {
        width: 90%;
    }
}
