<!-- footer -->
<footer>
	<div id="footerContent">
		<div id="firstContent">
			<figure>
				<img src="{{ asset('./assets/img/logo/abattoir-vegetal-logo-small-light.svg')}}" alt="logo">
			</figure>
			<div>
				<span>content right</span>
				<span>content left</span>
			</div>
		</div>
		<div id="midleContent">
			<h3>newsletter</h3><br>
			<span>Promis, que des nouvelles ultra fraîches !</span>
			<div>
				<input placeholder="your email" type="text" name="" id="">
				<button>I want to register</button>
			</div>
		</div>
		<div id="thirdContent">
			<span>our partners</span>
			<span>join the team</span>
			<span>he loves us</span>
			<span>legal notices</span>
		</div>
	</div>
</footer>